* {
  font-family: Futura;
}

a {
  color: #000;
  text-decoration: none;
}

button {
  color: #000;
  text-decoration: none;
  //todo make this look like <a
}

.body-container {
  padding-top: 80px;
}
